JWT_SECRET=troque_este_segredo
PRODUCT_URL=http://localhost:3003
INVENTORY_URL=http://localhost:3004
CART_URL=http://localhost:3005
ORDER_URL=http://localhost:3006
AUTH_URL=http://localhost:3001
REDIS_URL=redis://:senha@127.0.0.1:6379
